.Home .header{
  background-image: linear-gradient(to right bottom, #9596943c, #2f3332c0), url("../../../images/az_1.jpg");
  height: 75vh;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home .checkout{
  height: 200px;
  background-color: #f7f2ccc0;
}

.Home .title{
  padding-top: 35px;
  
 
}

.Home .select{
  margin-top: 225px;
  background-color: #f7f2ccc0;
}

.Home .button{
  margin-top: 25px;
 
}

.card{
  width: 350px;
}
